<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SushiNeko.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD04B5D01D26CFE100080994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD04B5E81D26CFE100080994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD04B5F31D26CFE100080994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
